html {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    color: #444;
}

header {
    .navbar__inner {

        display: inline-block;
        width: 40%;

        .navbar__logo {

            display: inline-block;
            padding: 0px 25px;

            .__logo {
                width: 60px;
            }
        }
    }

    .navbar__wrapper {

        display: inline-block;
        width: 58%;
        text-align: right;
        vertical-align: top;

        .navbar_list {

            padding: 5px;

            li {
                display: inline-block;
                padding: 0px;

                a {
                    text-decoration: none;
                    padding: 15px 15px;
                    font-size: 1.1em;
                    color: #707070;

                    &:hover {
                        border-bottom: 2px solid #FD2B2A;
                    }
                }
            }
        }
    }
}

.main {

    .hero {
        text-align: center;
        background-image: -webkit-gradient(linear, right top, left top, from(rgba(218, 33, 33, .0)), to(rgba(218, 33, 33, .0))), url("../images/bg.jpg");
        background-image: linear-gradient(270deg, rgba(218, 33, 33, .7), rgba(218, 33, 33, .8)), url("../images/bg.jpg");
        padding: 200px 0px;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover;

        .hero__content {
            display: flex;
            width: 650px;
            margin: 0 auto;
            align-items: center;

            .__logo {
                height: 235px;

            }

            .hero__text {
                margin: 20px auto;
                padding: 0px 20px;
                text-align: center;
                border-left: 1px solid #aaa;

                h2 {
                    font-size: 1.8em;
                }

                a {
                    font-size: 1.1em;
                    border: 1px solid #FD2B2A;
                    padding: 8px;
                    color: #FD2B2A;
                    border-radius: 30px;
                    text-decoration: none;

                    &:hover {
                        background-color: #FD2B2A;
                        color: #FFF;
                    }
                }
            }
        }

    }

    .stack {
        text-align: center;
        margin: 100px 0;
    }

    .portfolio {
        margin: 100px 0;

        .row {
            margin: 0 auto;
            width: 80%;
            text-align: center;
            display: flex;
            justify-content: space-between;
        }

        .pf-card {
            display: inline-block;
            margin: 1em 1em;
            color: white;

            .card-header {
                font-size: 1.4em;
                font-weight: 600;
            }

            .description {
                padding: 0em 2em;
            }

            &.large {
                width: 650px;
                background-position: 50%;
                background-repeat: no-repeat;
                background-size: cover;
                padding: 50px 0px;

                &.first {
                    background-image: -webkit-gradient(linear, right top, left top, from(rgba(218, 33, 33, .0)), to(rgba(218, 33, 33, .0))), url("../images/bg.jpg");
                    background-image: linear-gradient(270deg, rgba(218, 33, 33, .7), rgba(218, 33, 33, .8)), url("../images/bg.jpg");
                }

                &.second {
                    background-image: -webkit-gradient(linear, right top, left top, from(rgba(12, 114, 36, .0)), to(rgba(12, 114, 36, .0))), url("../images/bg.jpg");
                    background-image: linear-gradient(270deg, rgba(12, 114, 36, .7), rgba(12, 114, 36, .8)), url("../images/bg.jpg");
                }
            }


            &.small {
                width: 450px;
                background-position: 50%;
                background-repeat: no-repeat;
                background-size: cover;
                padding: 25px 0px;

                .card-header {
                    font-size: 1.2em;
                    font-weight: 600;
                }

                &.first {
                    background-image: -webkit-gradient(linear, right top, left top, from(rgba(78, 44, 214, .0)), to(rgba(78, 44, 214, .0))), url("../images/bg.jpg");
                    background-image: linear-gradient(270deg, rgba(78, 44, 214, .7), rgba(78, 44, 214, .8)), url("../images/bg.jpg");
                }

                &.second {
                    background-image: -webkit-gradient(linear, right top, left top, from(rgba(171, 62, 198, .0)), to(rgba(171, 62, 198, .0))), url("../images/bg.jpg");
                    background-image: linear-gradient(270deg, rgba(171, 62, 198, .7), rgba(171, 62, 198, .8)), url("../images/bg.jpg");
                }

                &.third {
                    background-image: -webkit-gradient(linear, right top, left top, from(rgba(28, 177, 199, .0)), to(rgba(28, 177, 199, .0))), url("../images/bg.jpg");
                    background-image: linear-gradient(270deg, rgba(28, 177, 199, .7), rgba(28, 177, 199, .8)), url("../images/bg.jpg");
                }
            }
        }
    }

    .contact {

        .row {
            margin: 0 auto;
            width: 80%;
            text-align: center;
            display: flex;
            justify-content: space-between;
        }

        ul {
            li {
                padding-bottom: 1.3em;
                font-size: 1.1em;
                list-style: none;


                &:before {
                    position: relative;
                    font-family: "FontAwesome";
                    font-size: 18px;
                    color: #FD2B2A;
                    margin: 0 12px 0 0;
                }

                &.first:before {
                    content: "\f041";
                    margin: 0 20px 0 0;
                }

                &.second:before {
                    content: "\f0e0";
                }

                &.third:before {
                    content: "\f095";
                }

                span {
                    margin-left: 20px;
                }

                i {
                    // padding: 10px;
                    color: #FD2B2A;
                    font-size: 0.8em;
                }
            }
        }

        #submit-form {

            .row {
                width: 90%;
            }

            input[type=text] {
                border: none;
                box-shadow: none;
                border-bottom: 1px solid #adadad;
                border-radius: 0px;
                padding: 15px;
                height: auto;
                margin-bottom: 30px;
                background-color: #f8f8f8;
            }

            input[type=submit] {
                display: block;
                margin: 0 auto;
                font-size: 1.1em;
                border: 1px solid #FD2B2A;
                padding: 8px 20px;
                color: white;
                background-color: #FD2B2A;
                border-radius: 30px;
                text-transform: uppercase;
                text-decoration: none;

                &:hover {
                    color: #FD2B2A;
                    background-color: #FFF;
                }
            }

            .half-width {
                display: inline-block;
                width: 45%;
            }

            .full-width {
                display: inline-block;
                width: 96%;
            }
        }
    }

}

footer {
    display: block;
    text-align: center;
    width: 85%;
    margin: 10px auto;

    p {
        display: inline-block;
        width: 55%;
        text-align: left;

    }

    .icons {
        display: inline-block;
        text-align: right;
        width: 35%;

        li {
            display: inline-block;
            padding: 0 5px;
            font-size: 1em;
            font-weight: 100;
            text-decoration: none;
            color: #FD2B2A;

            a {
                text-decoration: none;
                color: #FD2B2A;
            }
        }
    }
}

.card {
    background-color: white;
    display: inline-block;
    box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    overflow: hidden;
    vertical-align: top;
    position: relative;
    display: inline-block;
    padding: 10px;
    text-align: left;
    overflow: initial;

    .card-header {
        text-align: center;
        font-size: 1.25em;
    }

    ul.stack__collection {
        li {
            padding-bottom: 1em;
            font-size: 1.1em;
            list-style: none;

            &:before {
                position: relative;
                font-family: "FontAwesome";
                font-size: 18px;
                content: "\f192";
                color: #FD2B2A;
                margin: 0 12px 0 0;
            }
        }
    }

    &.medium {
        height: 290px;
        width: 290px;
        margin: 0px 1.2em;
    }

    &.very-large {
        height: 300px;
        width: 800px;
        margin-right: 25px;
    }

    &.square {
        height: 300px;
        width: 300px;
    }

}


.section-header {
    text-align: center;
    font-size: 1.5em;
    margin: 50px 0px;
    font-weight: 600;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    header {
        .navbar__inner {

            display: block;
            margin: 0 auto;
            text-align: center;

            .navbar__logo {

                display: inline-block;
                padding: 0px 25px;

                .__logo {
                    width: 60px;
                }
            }
        }

        .navbar__wrapper {

            display: block;
            width: 95%;
            text-align: center;

            .navbar_list {

                padding: 5px;
                display: flex;
                justify-content: space-evenly;

                li {
                    display: inline-block;
                    padding: 0px;

                    a {
                        text-decoration: none;
                        padding: 15px 15px;
                        font-size: 1.1em;
                        color: #707070;

                        &:hover {
                            border-bottom: 2px solid #FD2B2A;
                        }
                    }
                }
            }
        }
    }

    .main {

        .hero {

            .hero__content {
                display: flex;
                width: 300px;
                margin: 0 auto;

                .__logo {
                    height: 150px;
                }

                .hero__text {
                    margin: 20px auto;
                    padding: 0px 10px;
                    text-align: center;

                    h2 {
                        font-size: 1.0em;
                    }

                    a {
                        font-size: 0.9em;
                    }
                }
            }

        }

        .portfolio {
            margin: 100px 0;

            .row {
                width: 100%;
                display: block;
            }

            .pf-card {
                display: inline-block;
                margin: 0.5em 0.5em;
                color: white;

                .card-header {
                    font-size: 1.2em;
                    font-weight: 600;
                }

                .description {
                    padding: 0em 2em;
                }

                &.large {
                    width: 280px;
                    background-position: 50%;
                    background-repeat: no-repeat;
                    background-size: cover;
                }


                &.small {
                    width: 280px;
                    background-position: 50%;
                    background-repeat: no-repeat;
                    background-size: cover;

                    .card-header {
                        font-size: 1.2em;
                        font-weight: 600;
                    }
                }
            }
        }

        .contact {

            .row {
                margin: 0 auto;
                width: 100%;
                text-align: center;
                display: block;
            }

            #submit-form {

                .row {
                    width: 90%;
                }

                input[type=text] {
                    border: none;
                    box-shadow: none;
                    border-bottom: 1px solid #adadad;
                    border-radius: 0px;
                    padding: 15px;
                    height: auto;
                    margin-bottom: 30px;
                    background-color: #f8f8f8;
                }

                input[type=submit] {
                    height: 42px;
                    border-radius: 27px;
                    background: #FD2B2A;
                    color: #fff;
                    padding: 0 2em;
                    transition: all ease-out 200ms;
                    font-weight: 600;
                    line-height: 45px;
                    box-sizing: border-box;
                    display: block;
                    -webkit-appearance: button;
                    cursor: pointer;
                    text-transform: uppercase;

                    &:hover {
                        color: #FD2B2A;
                        background-color: #FFF;
                    }
                }

                .half-width {
                    display: block;
                    width: 80%;
                    margin: auto;
                }

                .full-width {
                    display: block;
                    width: 80%;
                    margin: auto;
                }
            }
        }

    }


    footer {
        display: block;
        text-align: center;

        p {
            display: block;
            width: 100%;
            text-align: center;
        }

        .icons {

            display: block;
            padding: 0px;
            width: 100%;
            text-align: center;

            li {
                display: inline-block;
                padding: 0 5px;
                font-size: 1em;
                font-weight: 100;
                text-decoration: none;
                color: #FD2B2A;

                a {
                    text-decoration: none;
                    color: #FD2B2A;
                }
            }
        }
    }


    .card {

        padding: 10px 5px;

        .card-header {
            text-align: center;
            font-size: 1.25em;
        }

        ul {
            li {
                padding-bottom: 1em;
                font-size: 1.1em;
            }
        }

        &.medium {
            width: 250px;
            margin: 20px 1.2em;
        }

        &.very-large {
            width: 250px;
            height: 100%;
            margin: 0px 0px 25px 0px;
            padding-bottom: 2em;

        }

        &.square {
            width: 250px;
            height: 100%;
            padding: 25px 0px;
        }

    }


}