/* line 1, ../sass/index.scss */
html {
  margin: 0px;
  padding: 0px;
}

/* line 6, ../sass/index.scss */
body {
  margin: 0px;
  padding: 0px;
  color: #444;
}

/* line 13, ../sass/index.scss */
header .navbar__inner {
  display: inline-block;
  width: 40%;
}
/* line 18, ../sass/index.scss */
header .navbar__inner .navbar__logo {
  display: inline-block;
  padding: 0px 25px;
}
/* line 23, ../sass/index.scss */
header .navbar__inner .navbar__logo .__logo {
  width: 60px;
}
/* line 29, ../sass/index.scss */
header .navbar__wrapper {
  display: inline-block;
  width: 58%;
  text-align: right;
  vertical-align: top;
}
/* line 36, ../sass/index.scss */
header .navbar__wrapper .navbar_list {
  padding: 5px;
}
/* line 40, ../sass/index.scss */
header .navbar__wrapper .navbar_list li {
  display: inline-block;
  padding: 0px;
}
/* line 44, ../sass/index.scss */
header .navbar__wrapper .navbar_list li a {
  text-decoration: none;
  padding: 15px 15px;
  font-size: 1.1em;
  color: #707070;
}
/* line 50, ../sass/index.scss */
header .navbar__wrapper .navbar_list li a:hover {
  border-bottom: 2px solid #FD2B2A;
}

/* line 61, ../sass/index.scss */
.main .hero {
  text-align: center;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(218, 33, 33, 0)), to(rgba(218, 33, 33, 0))), url("../images/bg.jpg");
  background-image: linear-gradient(270deg, rgba(218, 33, 33, 0.7), rgba(218, 33, 33, 0.8)), url("../images/bg.jpg");
  padding: 200px 0px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 70, ../sass/index.scss */
.main .hero .hero__content {
  display: flex;
  width: 650px;
  margin: 0 auto;
}
/* line 75, ../sass/index.scss */
.main .hero .hero__content .__logo {
  height: 235px;
  border-right: 1px solid #aaa;
}
/* line 80, ../sass/index.scss */
.main .hero .hero__content .hero__text {
  margin: 0px auto;
  padding: 20px 0px 20px;
  text-align: center;
}
/* line 85, ../sass/index.scss */
.main .hero .hero__content .hero__text h2 {
  font-size: 1.8em;
}
/* line 89, ../sass/index.scss */
.main .hero .hero__content .hero__text a {
  font-size: 1.1em;
  border: 1px solid #FD2B2A;
  padding: 8px;
  color: #FD2B2A;
  border-radius: 30px;
  text-decoration: none;
}
/* line 97, ../sass/index.scss */
.main .hero .hero__content .hero__text a:hover {
  background-color: #FD2B2A;
  color: #FFF;
}
/* line 107, ../sass/index.scss */
.main .stack {
  text-align: center;
  margin: 100px 0;
}
/* line 112, ../sass/index.scss */
.main .portfolio {
  margin: 100px 0;
}
/* line 115, ../sass/index.scss */
.main .portfolio .row {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
/* line 123, ../sass/index.scss */
.main .portfolio .pf-card {
  display: inline-block;
  margin: 1em 1em;
  color: white;
}
/* line 128, ../sass/index.scss */
.main .portfolio .pf-card .card-header {
  margin-top: 4em;
  font-size: 1.2em;
  font-weight: 600;
}
/* line 134, ../sass/index.scss */
.main .portfolio .pf-card .description {
  padding: 0em 2em;
}
/* line 138, ../sass/index.scss */
.main .portfolio .pf-card.large {
  width: 650px;
  height: 250px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 145, ../sass/index.scss */
.main .portfolio .pf-card.large.first {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(218, 33, 33, 0)), to(rgba(218, 33, 33, 0))), url("../images/bg.jpg");
  background-image: linear-gradient(270deg, rgba(218, 33, 33, 0.7), rgba(218, 33, 33, 0.8)), url("../images/bg.jpg");
}
/* line 150, ../sass/index.scss */
.main .portfolio .pf-card.large.second {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(12, 114, 36, 0)), to(rgba(12, 114, 36, 0))), url("../images/bg.jpg");
  background-image: linear-gradient(270deg, rgba(12, 114, 36, 0.7), rgba(12, 114, 36, 0.8)), url("../images/bg.jpg");
}
/* line 157, ../sass/index.scss */
.main .portfolio .pf-card.small {
  width: 450px;
  height: 200px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 164, ../sass/index.scss */
.main .portfolio .pf-card.small .card-header {
  margin-top: 2em;
  font-size: 1.2em;
  font-weight: 600;
}
/* line 170, ../sass/index.scss */
.main .portfolio .pf-card.small.first {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(78, 44, 214, 0)), to(rgba(78, 44, 214, 0))), url("../images/bg.jpg");
  background-image: linear-gradient(270deg, rgba(78, 44, 214, 0.7), rgba(78, 44, 214, 0.8)), url("../images/bg.jpg");
}
/* line 175, ../sass/index.scss */
.main .portfolio .pf-card.small.second {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(171, 62, 198, 0)), to(rgba(171, 62, 198, 0))), url("../images/bg.jpg");
  background-image: linear-gradient(270deg, rgba(171, 62, 198, 0.7), rgba(171, 62, 198, 0.8)), url("../images/bg.jpg");
}
/* line 180, ../sass/index.scss */
.main .portfolio .pf-card.small.third {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(28, 177, 199, 0)), to(rgba(28, 177, 199, 0))), url("../images/bg.jpg");
  background-image: linear-gradient(270deg, rgba(28, 177, 199, 0.7), rgba(28, 177, 199, 0.8)), url("../images/bg.jpg");
}
/* line 190, ../sass/index.scss */
.main .contact .row {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
/* line 200, ../sass/index.scss */
.main .contact #submit-form .row {
  width: 90%;
}
/* line 204, ../sass/index.scss */
.main .contact #submit-form input[type=text] {
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #adadad;
  border-radius: 0px;
  padding: 15px;
  height: auto;
  margin-bottom: 30px;
  background-color: #f8f8f8;
}
/* line 215, ../sass/index.scss */
.main .contact #submit-form input[type=submit] {
  display: block;
  margin: 0 auto;
  font-size: 1.1em;
  border: 1px solid #FD2B2A;
  padding: 8px 20px;
  color: white;
  background-color: #FD2B2A;
  border-radius: 30px;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 227, ../sass/index.scss */
.main .contact #submit-form input[type=submit]:hover {
  color: #FD2B2A;
  background-color: #FFF;
}
/* line 233, ../sass/index.scss */
.main .contact #submit-form .half-width {
  display: inline-block;
  width: 45%;
}
/* line 238, ../sass/index.scss */
.main .contact #submit-form .full-width {
  display: inline-block;
  width: 96%;
}

/* line 249, ../sass/index.scss */
.card {
  background-color: white;
  display: inline-block;
  box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  overflow: hidden;
  vertical-align: top;
  position: relative;
  display: inline-block;
  padding: 10px;
  text-align: left;
  overflow: initial;
}
/* line 262, ../sass/index.scss */
.card .card-header {
  text-align: center;
  font-size: 1.25em;
}
/* line 268, ../sass/index.scss */
.card ul li {
  padding-bottom: 1em;
  font-size: 1.1em;
}
/* line 274, ../sass/index.scss */
.card.medium {
  height: 290px;
  width: 290px;
  margin: 0px 1.2em;
}
/* line 280, ../sass/index.scss */
.card.very-large {
  height: 300px;
  width: 800px;
}
/* line 285, ../sass/index.scss */
.card.square {
  height: 300px;
  width: 300px;
}

/* line 293, ../sass/index.scss */
.section-header {
  text-align: center;
  font-size: 1.5em;
  margin: 50px 0px;
  font-weight: 600;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* line 308, ../sass/index.scss */
  .main .hero .hero__content {
    display: flex;
    width: 280px;
    margin: 0 auto;
  }
  /* line 313, ../sass/index.scss */
  .main .hero .hero__content .__logo {
    height: 150px;
    border-right: 1px solid #aaa;
  }
  /* line 318, ../sass/index.scss */
  .main .hero .hero__content .hero__text {
    margin: 0px auto;
    padding: 10px 0px 10px;
    text-align: center;
  }
  /* line 323, ../sass/index.scss */
  .main .hero .hero__content .hero__text h2 {
    font-size: 1.0em;
  }
  /* line 327, ../sass/index.scss */
  .main .hero .hero__content .hero__text a {
    font-size: 0.9em;
  }
  /* line 335, ../sass/index.scss */
  .main .portfolio {
    margin: 100px 0;
  }
  /* line 338, ../sass/index.scss */
  .main .portfolio .row {
    width: 100%;
    display: block;
  }
  /* line 343, ../sass/index.scss */
  .main .portfolio .pf-card {
    display: inline-block;
    margin: 0.5em 0.5em;
    color: white;
  }
  /* line 348, ../sass/index.scss */
  .main .portfolio .pf-card .card-header {
    margin-top: 4em;
    font-size: 1.2em;
    font-weight: 600;
  }
  /* line 354, ../sass/index.scss */
  .main .portfolio .pf-card .description {
    padding: 0em 2em;
  }
  /* line 358, ../sass/index.scss */
  .main .portfolio .pf-card.large {
    width: 280px;
    height: 280px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* line 367, ../sass/index.scss */
  .main .portfolio .pf-card.small {
    width: 280px;
    height: 280px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* line 374, ../sass/index.scss */
  .main .portfolio .pf-card.small .card-header {
    margin-top: 2em;
    font-size: 1.2em;
    font-weight: 600;
  }
  /* line 385, ../sass/index.scss */
  .main .contact .row {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    display: block;
  }
  /* line 394, ../sass/index.scss */
  .main .contact #submit-form .row {
    width: 90%;
  }
  /* line 398, ../sass/index.scss */
  .main .contact #submit-form input[type=text] {
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #adadad;
    border-radius: 0px;
    padding: 15px;
    height: auto;
    margin-bottom: 30px;
    background-color: #f8f8f8;
  }
  /* line 409, ../sass/index.scss */
  .main .contact #submit-form input[type=submit] {
    height: 42px;
    border-radius: 27px;
    background: #FD2B2A;
    color: #fff;
    padding: 0 3em;
    transition: all ease-out 200ms;
    font-weight: 600;
    line-height: 45px;
    box-sizing: border-box;
    display: block;
    -webkit-appearance: button;
    cursor: pointer;
    text-transform: uppercase;
  }
  /* line 424, ../sass/index.scss */
  .main .contact #submit-form input[type=submit]:hover {
    color: #FD2B2A;
    background-color: #FFF;
  }
  /* line 430, ../sass/index.scss */
  .main .contact #submit-form .half-width {
    display: block;
    width: 80%;
    margin: auto;
  }
  /* line 436, ../sass/index.scss */
  .main .contact #submit-form .full-width {
    display: block;
    width: 80%;
    margin: auto;
  }

  /* line 449, ../sass/index.scss */
  .card .card-header {
    text-align: center;
    font-size: 1.25em;
  }
  /* line 455, ../sass/index.scss */
  .card ul li {
    padding-bottom: 1em;
    font-size: 1.1em;
  }
  /* line 461, ../sass/index.scss */
  .card.medium {
    height: 250px;
    width: 250px;
    margin: 20px 1.2em;
  }
  /* line 467, ../sass/index.scss */
  .card.very-large {
    width: 250px;
    height: 100%;
    margin: 0px 0px 25px 0px;
  }
  /* line 473, ../sass/index.scss */
  .card.square {
    width: 250px;
  }
}
